---
import Display from "../svelte/display.svelte";
import Icon from "./icon.astro";
import Input from "./input.astro"
---

<div class="fixed animate-float shadow-none top-1/3 left-[80%]">
  <Icon size="big" />
</div>
<div class="flex flex-col h-full">
  <div class="flex-grow overflow-x-auto">
    <Display client:load />
  </div>
  <Input />
</div>
