---
import { LitIcon } from './lit/icon';
import ReactIcon from './react/icon';
import SolidIcon from './solid/icon';
import SvelteIcon from './svelte/icon.svelte';
import VueIcon from './vue/icon.vue';
import AstroIcon from './astro/icon.astro';
---

<nav
  class='bg-gray-100 bg-clip-border shadow-sm shadow-slate-800 h-20 w-full flex relative justify-between items-center mx-auto'
>
  <div class='inline-flex'>
    <a href='/'
      ><div class='hidden md:block pl-4'>
        <svg
          viewBox='0 0 472.098 336.715'
          class='w-14 h-14'
          xmlns='http://www.w3.org/2000/svg'
        >
          <rect
            x='0'
            width='100%'
            height='100%'
            fill='rgba(255,255,255,0)'
            y='0'
            style='opacity: 0.5;'></rect>
          <g transform='matrix(1, 0, 0, 1, 261.921112, 165.887207)' id='770131'>
            <g style=''>
              <g
                transform='matrix(0.4146 0 0 0.4147 -96.0811 -0.0072)'
                id='855719'
              >
                <g style='' vector-effect='non-scaling-stroke'>
                  <g transform='matrix(1.7279 0 0 1.7279 -276.4551 -276.4551)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-71.5, -71.5)'
                      d='M 71.5 0 C 32.075 0 0 32.075 0 71.5 S 32.075 143 71.5 143 S 143 110.925 143 71.5 S 110.925 0 71.5 0 z M 71.5 128 C 40.346 128 15 102.654 15 71.5 S 40.346 15 71.5 15 S 128 40.346 128 71.5 S 102.654 128 71.5 128 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1.7279 0 0 1.7279 -276.4551 0.0028)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-71.5, -231.5)'
                      d='M 71.5 160 C 32.075 160 0 192.075 0 231.5 S 32.075 303 71.5 303 s 71.5 -32.075 71.5 -71.5 S 110.925 160 71.5 160 z M 71.5 288 C 40.346 288 15 262.654 15 231.5 S 40.346 175 71.5 175 s 56.5 25.346 56.5 56.5 S 102.654 288 71.5 288 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1.7279 0 0 1.7279 -276.4551 276.4606)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-71.5, -391.5)'
                      d='M 71.5 320 C 32.075 320 0 352.075 0 391.5 S 32.075 463 71.5 463 s 71.5 -32.075 71.5 -71.5 S 110.925 320 71.5 320 z M 71.5 448 C 40.346 448 15 422.654 15 391.5 S 40.346 335 71.5 335 s 56.5 25.346 56.5 56.5 S 102.654 448 71.5 448 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1.7279 0 0 1.7279 -276.4558 -276.4567)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-71.5005, -71.5001)'
                      d='m 90.196 50.197 l -26.696 26.697 l -10.696 -10.697 c -2.93 -2.929 -7.678 -2.929 -10.607 0 s -2.929 7.678 0 10.606 l 16 16 c 1.464 1.465 3.384 2.197 5.303 2.197 s 3.839 -0.732 5.304 -2.197 l 32 -32 c 2.929 -2.929 2.929 -7.678 0 -10.606 c -2.93 -2.929 -7.678 -2.929 -10.608 7.10543e-15 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1.7279 0 0 1.7279 -276.4558 0.0011)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-71.5005, -231.5001)'
                      d='m 90.196 210.197 l -26.696 26.697 l -10.696 -10.697 c -2.93 -2.929 -7.678 -2.929 -10.607 0 s -2.929 7.678 0 10.606 l 16 16 c 1.464 1.465 3.384 2.197 5.303 2.197 s 3.839 -0.732 5.304 -2.197 l 32 -32 c 2.929 -2.929 2.929 -7.678 0 -10.606 c -2.93 -2.929 -7.678 -2.929 -10.608 0 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1.7279 0 0 1.7279 27.6488 -317.9263)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-247.5, -47.5)'
                      d='m 175.5 55 h 144 c 4.143 0 7.5 -3.358 7.5 -7.5 s -3.357 -7.5 -7.5 -7.5 h -144 c -4.143 0 -7.5 3.358 -7.5 7.5 s 3.357 7.5 7.5 7.5 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1.7279 0 0 1.7279 145.146 -234.9889)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-315.5, -95.5)'
                      d='m 175.5 103 h 280 c 4.143 0 7.5 -3.358 7.5 -7.5 s -3.357 -7.5 -7.5 -7.5 h -280 c -4.143 0 -7.5 3.358 -7.5 7.5 s 3.357 7.5 7.5 7.5 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1.7279 0 0 1.7279 27.6488 -41.4684)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-247.5, -207.5)'
                      d='m 175.5 215 h 144 c 4.143 0 7.5 -3.358 7.5 -7.5 s -3.357 -7.5 -7.5 -7.5 h -144 c -4.143 0 -7.5 3.358 -7.5 7.5 s 3.357 7.5 7.5 7.5 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1.7279 0 0 1.7279 145.146 41.469)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-315.5, -255.5)'
                      d='m 455.5 248 h -280 c -4.143 0 -7.5 3.358 -7.5 7.5 s 3.357 7.5 7.5 7.5 h 280 c 4.143 0 7.5 -3.358 7.5 -7.5 s -3.357 -7.5 -7.5 -7.5 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1.7279 0 0 1.7279 27.6488 234.9895)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-247.5, -367.5)'
                      d='m 175.5 375 h 144 c 4.143 0 7.5 -3.358 7.5 -7.5 s -3.357 -7.5 -7.5 -7.5 h -144 c -4.143 0 -7.5 3.358 -7.5 7.5 s 3.357 7.5 7.5 7.5 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1.7279 0 0 1.7279 145.146 317.9269)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;'
                      transform=' translate(-315.5, -415.5)'
                      d='m 455.5 408 h -280 c -4.143 0 -7.5 3.358 -7.5 7.5 s 3.357 7.5 7.5 7.5 h 280 c 4.143 0 7.5 -3.358 7.5 -7.5 s -3.357 -7.5 -7.5 -7.5 z'
                      stroke-linecap='round'></path>
                  </g>
                </g>
              </g>
              <g
                transform='matrix(0.2446 0 0 0.2592 105.3298 0.0008)'
                id='17549'
              >
                <g style='' vector-effect='non-scaling-stroke'>
                  <g transform='matrix(1 0 0 1 -1.0445 -174.1353)'>
                    <linearGradient
                      id='SVGID_12'
                      gradientUnits='userSpaceOnUse'
                      gradientTransform='matrix(1 0 0 1 0 0)'
                      x1='882.997'
                      y1='27.1132'
                      x2='638.955'
                      y2='866.902'
                    >
                      <stop
                        offset='0'
                        style='stop-color:rgb(0,0,20);stop-opacity: 1'></stop>
                      <stop
                        offset='1'
                        style='stop-color:rgb(21,4,38);stop-opacity: 1'></stop>
                    </linearGradient>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: url(#SVGID_12); fill-rule: evenodd; opacity: 1;'
                      transform=' translate(-638.9555, -465.8647)'
                      d='m 815.039 94.6439 c 9.719 12.0651 14.675 28.3461 24.587 60.9091 l 216.544 711.348 c -80.063 -41.533 -167.098 -71.488 -258.889 -87.649 l -140.991 -476.454 c -2.307 -7.796 -9.468 -13.144 -17.597 -13.144 c -8.151 0 -15.325 5.376 -17.613 13.199 l -139.285 476.158 c -92.216 16.089 -179.649 46.098 -260.054 87.782 l 217.606 -711.405 h 0.001 c 9.943 -32.506 14.914 -48.759 24.634 -60.8027 c 8.58 -10.6322 19.741 -18.8895 32.418 -23.9851 c 14.36 -5.7718 31.356 -5.7718 65.349 -5.7718 h 155.425 c 34.038 0 51.056 0 65.429 5.7839 c 12.689 5.1061 23.856 13.38 32.436 24.0316 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1 0 0 1 1.3531 426.6655)'>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(255,93,1); fill-rule: evenodd; opacity: 1;'
                      transform=' translate(-641.353, -1066.6655)'
                      d='m 840.951 900.754 c -35.698 30.525 -106.949 51.343 -189.022 51.343 c -100.732 0 -185.162 -31.36 -207.566 -73.536 c -8.009 24.171 -9.805 51.835 -9.805 69.507 c 0 0 -5.277 86.772 55.078 147.132 c 0 -31.34 25.406 -56.74 56.745 -56.74 c 53.716 0 53.655 46.86 53.606 84.88 c -0.001 1.14 -0.003 2.27 -0.003 3.39 c 0 57.71 35.271 107.18 85.432 128.04 c -7.492 -15.41 -11.695 -32.72 -11.695 -51 c 0 -55.04 32.313 -75.54 69.867 -99.36 c 29.881 -18.95 63.08 -40 85.96 -82.24 c 11.938 -22.04 18.717 -47.277 18.717 -74.102 c 0 -16.495 -2.563 -32.392 -7.314 -47.314 z'
                      stroke-linecap='round'></path>
                  </g>
                  <g transform='matrix(1 0 0 1 1.3531 426.6655)'>
                    <linearGradient
                      id='SVGID_13'
                      gradientUnits='userSpaceOnUse'
                      gradientTransform='matrix(1 0 0 1 0 0)'
                      x1='1001.68'
                      y1='652.45'
                      x2='790.326'
                      y2='1094.91'
                    >
                      <stop
                        offset='0'
                        style='stop-color:rgb(255,22,57);stop-opacity: 1'
                      ></stop>
                      <stop
                        offset='1'
                        style='stop-color:rgb(255,22,57);stop-opacity: 0'
                      ></stop>
                    </linearGradient>
                    <path
                      style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: url(#SVGID_13); fill-rule: evenodd; opacity: 1;'
                      transform=' translate(-641.353, -1066.6655)'
                      d='m 840.951 900.754 c -35.698 30.525 -106.949 51.343 -189.022 51.343 c -100.732 0 -185.162 -31.36 -207.566 -73.536 c -8.009 24.171 -9.805 51.835 -9.805 69.507 c 0 0 -5.277 86.772 55.078 147.132 c 0 -31.34 25.406 -56.74 56.745 -56.74 c 53.716 0 53.655 46.86 53.606 84.88 c -0.001 1.14 -0.003 2.27 -0.003 3.39 c 0 57.71 35.271 107.18 85.432 128.04 c -7.492 -15.41 -11.695 -32.72 -11.695 -51 c 0 -55.04 32.313 -75.54 69.867 -99.36 c 29.881 -18.95 63.08 -40 85.96 -82.24 c 11.938 -22.04 18.717 -47.277 18.717 -74.102 c 0 -16.495 -2.563 -32.392 -7.314 -47.314 z'
                      stroke-linecap='round'></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </a>
  </div>

  <div class='flex-auto'>
    <div class='flex justify-center items-center relative'>
      <div class='flex mr-4 items-center'>
        <a
          class='inline-block py-2 px-3 hover:bg-gray-200 rounded-full'
          href='/'
          title='use Astro'
        >
          <div
            aria-label='Astro'
            class='flex items-center relative cursor-pointer whitespace-nowrap'
          >
            <AstroIcon size='small' />
          </div>
        </a>
      </div>
      <div class='flex mr-4 items-center'>
        <a
          class='inline-block py-2 px-3 hover:bg-gray-200 rounded-full'
          href='/svelte'
          title='use Svelte'
        >
          <div
            aria-label='svelte'
            class='flex items-center relative cursor-pointer whitespace-nowrap'
          >
            <SvelteIcon size='small' />
          </div>
        </a>
      </div>
      <div class='flex mr-4 items-center'>
        <a
          class='inline-block py-2 px-3 hover:bg-gray-200 rounded-full'
          href='/react'
          title='use React'
        >
          <div
            aria-label='React'
            class='flex items-center relative cursor-pointer whitespace-nowrap'
          >
            <ReactIcon size='small' />
          </div>
        </a>
      </div>
      <div class='flex mr-4 items-center'>
        <a
          class='inline-block py-2 px-3 hover:bg-gray-200 rounded-full'
          href='/solid'
          title='use Solid'
        >
          <div
            aria-label='Solid'
            class='flex items-center relative cursor-pointer whitespace-nowrap'
          >
            <SolidIcon size='small' />
          </div>
        </a>
      </div>
      <div class='flex mr-4 items-center'>
        <a
          class='inline-block py-2 px-3 hover:bg-gray-200 rounded-full'
          href='/vue'
          title='use Vue'
        >
          <div
            aria-label='Vue'
            class='flex items-center relative cursor-pointer whitespace-nowrap'
          >
            <VueIcon size='small' />
          </div>
        </a>
      </div>
      <div class='flex mr-4 items-center'>
        <a
          class='inline-block py-2 px-3 hover:bg-gray-200 rounded-full'
          href='/lit'
          title='use Lit'
        >
          <div
            aria-label='Lit'
            class='flex items-center relative cursor-pointer whitespace-nowrap'
          >
            <LitIcon size={'small'} />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class='flex-initial'>
    <div class='flex justify-end items-center relative'>
      <div class='flex mr-4 items-center'>
        <div class='block relative'>
          <a
            type='button'
            class='inline-block py-2 px-3 hover:bg-gray-200 rounded-full relative'
            target='_blank'
            href='https://github.com/rezk2ll/astro-multi-library-todo'
          >
            <div class='flex items-center h-5'>
              <svg
                class='w-6 h-6'
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                ><path
                  d='M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z'
                ></path></svg
              >
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
